@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #fff;
    font-weight: 300;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Images/Background.png);
    background-position: center;
    background-size: cover;
}


::selection{
    background-color: #ffffff5d;
    color: #fff;
}

.header {
    opacity: 50%;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 16px;
    padding: 16px;
    position: fixed;
    display: flex;
    top: 0;
    border: 1px solid transparent;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #0000005c;
    backdrop-filter: blur(1px);
    transition: 0.4s ease-in-out;
    scroll-behavior: smooth;
    background-color: #21212191;
    
}

.header:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}



.navbar a {
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    color: #ffffff57;
    transition: color 0.3s ease-in-out;
    font-weight: 400;
}

.navbar a:hover {
    color: #ffffff;
}



.footer{
    opacity: 50%;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 16px;
    padding: 16px;
    position: absolute;
    display: flex;
    box-shadow: 0px 0px 20px #0000005c;
    backdrop-filter: blur(1px);
    background-color: #21212191;
    bottom: 0;
    margin-bottom: 30px;
    transition: 0.4s ease-in-out;
    font-weight: 400;
    border: 1px solid transparent;
}

.footer:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}



.container{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    border-radius: 16px;
    width: 400px;
    height: 600px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
}



.container:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}


.container #Image {
    opacity: 40%;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
    border-radius: 16px;
    border: none !important;
    object-position: center;
}

.container #Image:hover {
    opacity: 70%;
}

.container #Image:active{
    scale: 0.98;
}


.info{
    justify-content: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 30px;
}


#Buttons button{
    opacity: 30%;
    
    align-items: center;
    justify-content: center;
    font-size: 64px !important;
    padding: 8px 24px;
    border-radius: 16px !important;
    border: 1px solid transparent;
    margin: 16px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000003a;
    transition: 0.4s ease-in-out;
}

#Buttons button:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
    box-shadow: 0px 0px 30px #0000003a;
    cursor: pointer;
    
}

#Buttons button:active{
    scale: 0.9;
}

#Name{
    font-weight: 500;
}


.login-section{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 16px;
    text-align: center;
    width: 400px;
    height: 250px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    padding: 20px 0px;
}

.login-section:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}

.login-section h1 {
    font-size: 36px;
    font-weight: 400;
}

.login-section p{
    opacity: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 15px;
    color: #ffffff1d;
    transition: 0.4s ease-in-out;
}

.login-section p:hover{
    opacity: 100%;
    transition: 0.4s ease-in-out;
}

.login-section .p a:hover{
    box-shadow: 0px 0px 20px #000000;
}


.input-section{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.input-section input{
    opacity: 30%;
    font-size: 16px;
    width: 300px;
    padding: 8px 10px ;
    border-radius: 16px ;
    border: 1px solid transparent;
    background-color: #21212191;
    margin: 4px;
    box-shadow: 0px 0px 20px #0000003a;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.input-section input:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}

.input-section input:focus{
    outline: none;
    border: 1px solid #ffffff1d;
}


.input-section button{
    opacity: 30%;
    font-size: 16px;
    width: 150px;
    padding: 8px 10px ;
    border-radius: 16px ;
    border: 1px solid transparent;
    background-color: #21212191;
    margin: 4px;
    box-shadow: 0px 0px 20px #0000003a;
    transition: 0.4s ease-in-out;
    color: #fff;
}


.input-section button:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
    box-shadow: 0px 0px 30px #0000003a;
    cursor: pointer;
}

.input-section button:active{
    scale: 0.97;
}

.sign-section {
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 16px;
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    padding: 20px 0px;
}

.sign-section:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}

.sign-section p {
    opacity: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 15px;
    color: #ffffff1d;
    transition: 0.4s ease-in-out;
}

.sign-section p:hover{
    opacity: 100%;
    transition: 0.4s ease-in-out;
}

.sign-section .p a:hover{
    box-shadow: 0px 0px 20px #000000;
}


.profile-container {
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    border-radius: 16px;
    width: 747px;
    height: 600px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    padding: 20px;
}

.profile-container:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}

.profile-images{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    width: 400px;
    height: 600px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    left: 1;
    margin-left: 20px;
}

.profile-images:active{
    scale: 0.97;
}


.profile-images:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
    cursor: pointer;
    box-shadow: 0px 0px 30px #0000003a
}

.profile-images #Image{
    opacity: 40%;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
    border-radius: 16px;
    border: none !important;
    object-position: center;
}

.profile-images #Image:hover{
    opacity: 100%;
}


.profile-info{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    right: 1;
    padding: 8px 10px;
    margin-right: 23px;
}

.profile-info:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}


.profile-info input{
    opacity: 50%;
    font-size: 16px;
    width: 300px;
    padding: 8px 10px ;
    border-radius: 16px ;
    border: 1px solid transparent;
    background-color: #21212191;
    margin: 16px;
    box-shadow: 0px 0px 20px #0000003a;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.profile-info input:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}

.profile-info input:focus{
    outline: none;
    border: 1px solid #ffffff1d;
}



.profile-info button{
    opacity: 30%;
    font-size: 16px;
    width: 150px;
    padding: 8px 10px ;
    border-radius: 16px ;
    border: 1px solid transparent;
    background-color: #21212191;
    margin: 4px;
    box-shadow: 0px 0px 20px #0000003a;
    transition: 0.4s ease-in-out;
    color: #fff;
}


.profile-info button:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
    box-shadow: 0px 0px 30px #0000003a;
    cursor: pointer;
}

.profile-info button:active{
    scale: 0.97;
}



.matches-container{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    width: 1000px;
    height: 600px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    padding: 8px 10px;
    margin-right: 23px;
}

.matches-container:hover{
    opacity: 100%;
    border: 1px solid #ffffff1d;
}


.matches-container .profiles{
    opacity: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: grid;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000005c;
    transition: 0.4s ease-in-out;
    left: 1;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.matches-container .profiles:hover{
    opacity: 100%;
    box-shadow: 0px 0px 30px #0000003a
}


.profiles .profile-example{
    left: 1;
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 1;
    width: 100%;
    height: 100px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000003a;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in-out;

}

.profiles .profile-example:active {
    scale: 0.99;
}


.profiles .profile-example img {
    opacity: 20%;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
    border: none !important;
    object-position: center;
}

.profiles .profile-detail{
    display: flex;
    position: absolute;
    left: 1;
}



.chat{
    opacity: 100%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 695px;
    height: 600px;
    background-color: #21212191;
    transition: 0.4s ease-in-out;
    padding: 8px 10px;
    right: 1;
}

.chat-input{
    display: flex;
    position: absolute;
    opacity: 100%;
    font-size: 16px;
    width:  695px;
    padding: 8px 10px ;
    border-bottom-right-radius: 16px;
    background-color: #21212191;
    transition: 0.4s ease-in-out;
    color: #fff;
    bottom: 1;
    right: 1;
}


.chat-input input {
    width: 75%;
    padding: 8px 10px ;
    border: transparent;
    border-bottom-left-radius: 16px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000003a;
    outline: none;
    color: #fff;
    height: 45px;
    font-size: 16px;
    border-top-right-radius: 16px;
    transition: 0.4s ease-in-out;
}

.chat-input input:hover {
    border: 1px solid #ffffff1d;
}

.chat-input input:focus {
    border: 1px solid #ffffff1d;
}

.chat-input button{
    opacity: 100%;
    width: 20%;
    padding: 8px 10px ;
    border: transparent;
    border-bottom-left-radius: 16px;
    background-color: #21212191;
    box-shadow: 0px 0px 20px #0000003a;
    color: #fff;
    height: 45px;
    font-size: 16px;
    border-top-right-radius: 16px;
    transition: 0.4s ease-in-out;
    margin-left: 16px;
}

.chat-input button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px #0000003a;
    border: 1px solid #ffffff1d;
}

.chat-input button:active {
    scale: 0.97;
}

.chat-user{
    display: flex;
    position: absolute;
    opacity: 100%;
    font-size: 16px;
    width:  695px;
    padding: 8px 10px ;
    border-top-right-radius: 16px;
    background-color: #21212191;
    transition: 0.4s ease-in-out;
    color: #fff;
    top: 1;
    height: 45px;
}

.chat-user img {
    opacity: 100%;
    position: absolute;
    object-fit: cover;
    width: 45px;
    height: 45px;
    transition: 0.8s ease-in-out;
    border: none!important;
    object-position: center;
    border-radius: 50%;
}


.chat-user img:hover {
    box-shadow: 0px 0px 30px #0000003a;
    cursor: pointer !important;
}




.chat-user h3 {
    margin-left: 54px;
    margin-top: 8px;
}


